@charset "utf-8";

.tab_box .focus_container{margin-left:25px;margin-top:85px;max-width:720px;}
.focus_container h4{color:#999;font-size:20px;line-height:30px;font-weight:normal;text-align:left;}
.focus_container .focus_list{background:#f8f8f8;border:2px dashed #d9d9d9;border-radius:16px;padding:30px 30px 0 30px;text-align:left;margin:30px 0;}
.focus_list .remmend{margin:10px 15px 30px 0;}
.focus_list .remmend a{padding:5px 10px;font-size:12px;border-radius:14px;background: #62974E; color:#fff;}
.thelists li{border-bottom:1px dashed #d9d9d9;padding:15px 0 10px 60px; position:relative;}
.thelists li:last-child{border-bottom:none;}
.thelists li .listimg{position:absolute;width:40px;height:40px;left:0;}
.thelists li .listimg img{width:100%;height:100%;border-radius:50%;}
.thelists li .focus_main{position:relative;}
.thelists .focus_main .title{font-size:18px;margin-bottom:5px;}
.thelists .focus_main p{font-size:12px; margin-bottom:5px;}
.thelists .focus_main .lists{padding-right:150px;}
.thelists .focus_main .isfocus{position:absolute;top:40%;right:0;font-size:12px; border-radius:15px;line-height:22px;padding:4px 12px;}
.focus_main .btn_success{border:1px solid #d5d5d5;background:#f5f5f5;color:#555;}
.isfocus .fa{width:10px;}
.focus_main .btn_success span,.focus_main .btn_no span{border-left:1px solid #d9d9d9; margin-left:7px;padding-left:7px;}
.focus_main .btn_no{background:#49be38;border:1px solid #49be38;}
.focus_main .btn_no a{color:#fff;}
.focus_list .focus_more{margin-bottom:30px;height:27px;}
.focus_more a{ display:inline-block;float:right;border:2px solid #999;border-radius:50%; width:25px; height:25px;line-height:25px; text-align:center;}
.focus_container .focus_finish{height:60px;line-height:60px;width:auto;}
.focus_container .focus_finish a{ background:#15a7f0; border:1px solid #15a7f0;color:#fff; border-radius:40px; font-size:18px; padding:11px 19px;}
